.container h1{
    font-size: 40px;
}
.container img{
    width: 400px;
    margin: 0 auto 0;
}

.container {
    margin: 0 auto  ;
  width: 800px
}
#table-5{
    text-align: center;

}
#danhsach1 {
    color: firebrick;

}
#body2 {
    background-color: #FFEFD5;
}
#vungsoanthao1 {
    width: 300px;
}